* {
  font-family: 'Prompt', sans-serif;
}
body {
  background: #eee;
  overflow-x: hidden;
}
.navbar {
  height: 30px !important;
}
.nav-item {
  margin: 0 20px;
}
.content {
  background: url('../images/backdrop.png');
  background-size: 100vw auto;
}
.card {
  border-radius: 20px;
  border: none;
}
.card-img-top, .carousel-img {
  border-radius: 20px 20px 0 0;
}
.carousel-img {
  width: 100%;
}
.card {
  background-color: transparent;
}
.card-body {
  background-color: rgba(0,0,0,.95);
  border-radius: 0 0 20px 20px;
}
.carousel-nav {
  background-color: rgba(0,0,0,.95);
  border-radius: 0 0 20px 20px;
  padding: 10px 0;
}
.carousel-nav a {
  z-index: 1;
}
.carousel-nav img {
  width: 30px !important;
}
.carousel-indicators {
  z-index: 0;
  height: 35px;
}
.text-yellow {
  color: #e3c05f;
}
.btn-main-page {
  border-radius: 20px;
  line-height: 10px;
  background-color: #dedede;
  width: 120px;
}
.btn-main-page-active {
  border-radius: 20px;
  line-height: 10px;
  background-color: #212529;
  width: 120px;
  color: white;
}
.btn-main-page-active:hover {
  color: white;
}
.carousel-indicators li {
  background-image: url('../images/indicator.png');
  background-size: 100%;
  background-color: transparent;
  width: 22px;
  height: 22px;
}
.carousel-indicators .active {
  background-image: url('../images/indicator-active.png') !important;
}
