* {
  font-family: 'Prompt', sans-serif;
}
body {
  background: #eee;
  overflow-x: hidden;
}
.navbar {
  height: 30px !important;
}
.nav-item {
  margin: 0 20px;
}
.content {
  background: url('../images/backdrop.png');
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.card {
  border-radius: 20px;
  border: none;
}
.card-img-top,
.carousel-img {
  border-radius: 20px 20px 0 0;
}
.carousel-img {
  width: 100%;
}
.card {
  background-color: transparent;
}
.card-body {
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 0 0 20px 20px;
}
.carousel-nav {
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 0 0 20px 20px;
  padding: 10px 0;
}
.carousel-nav a {
  z-index: 1;
}
.carousel-nav img {
  width: 30px !important;
}
.carousel-indicators {
  z-index: 0;
  height: 35px;
}
.text-yellow {
  color: #e3c05f;
}
.btn-main-page {
  border-radius: 20px !important;
  line-height: 10px;
  background-color: #dedede;
  width: 120px;
}
.carousel-indicators li {
  background-image: url('../images/icons/indicator.png');
  background-size: 100%;
  background-color: transparent;
  width: 22px;
  height: 22px;
}
.carousel-indicators .active {
  background-image: url('../images/icons/indicator-active.png') !important;
}
a.active {
  background-color: #212529 !important;
}
ul .dropdown-menu {
  border: solid #212529 2px;
  border-top: none;
  border-radius: 0;
  background-color: rgba(200, 200, 200, 0.9);
  padding: 0;
  margin-top: -5px;
}
.dropdown-toggle[aria-expanded="true"] {
  margin-top: 5px;
  height: 30px;
  border: solid #212529 2px;
  border-top: none;
  border-bottom: none;
  background-color: rgba(200, 200, 200, 0.9) !important;
  color:#000 !important;
  padding: 2px 0 0 0;
}
.sub-menu {
  background: #212529;
  color: white;
  padding: 5px 30px;
  border-radius: 15px;
}
.sub-menu img {
  height: 30px;
  opacity: 0.3;
}
.sub-menu img:hover {
  cursor: pointer;
}
.input-group {
  margin-top: 2px;
}
.input-group .form-control {
  height: 25px;
  border-radius: 10px 0 0 10px;
}
.input-group-text {
  height: 25px;
  background: white;
  border-radius: 0 10px 10px 0;
}
.card-with-modal:hover {
  cursor: pointer;
}
.modal-body, .popup-image {
  border-radius: 0 0 13px 13px;
}
.modal-header, .popup-header {
  border-radius: 13px 13px 0 0;
}
.modal-content {
  border-radius: 13px;
}
.popup-image, .popup-header {
  width: 800px;
}
.star {
  margin-right: -15px;
}
.weapon {
  width: 50px;
  border-radius: 5px;
  background-color: #36384A;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
